<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%} {%endblock titulo%}</title>
    <style>
        body {
            font-size: 40pz;
            background: burlywood;
            color: white;
        }
    </style>
</head>

<body>
    {%block conteudo%}Conteúdo padrão só chama se nada estiver na página q o chama{%endblock conteudo%}
</body>

</html>